/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

@keyframes arrow {
  0% {
    left: -9px;
  }
  50% {
    left: -20px;
  }
  100% {
    left: -9px;
  }
}

@keyframes scaleHeart {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes sparksAnimation {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

/*    main like button   */

.card__button-container {
  display: flex;
  justify-content: end;
  align-items: end;
  margin-top: 20px;
}

.card__like-button::before {
  content: "";
  position: absolute;
  background-color: var(--themes-main-color);
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
  inset: 0;
}

.card__like-button:hover::before {
  transform: scaleX(1);
}

.card__like-button:focus {
  outline: none;
}

.card__like-button:focus-visible {
  box-shadow: 2px 0 var(--themes-main-color), 0 2px var(--themes-main-color);
  transition: box-shadow 0.3s ease;
}

/*    main heart button   */

.card__icon-button {
  background: var(--themes-background);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--themes-main-color);
  transition: border 0.3s ease;
}

.like-icon:hover .core {
  fill: var(--themes-main-color);
  transition: fill 0.3s ease 0.03s;
}

.like-icon:hover .main-body {
  fill: var(--themes-main-color);
  transition: fill 0.3s ease 0.05s;
}

.like-icon:active .core {
  fill: var(--heart-sparks-color);
  transition: fill 0.3s ease 0.03s;
}

.like-icon:active .main-body {
  fill: var(--heart-sparks-color);
  transition: fill 0.3s ease 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--heart-sparks-color);
  transition: fill 0.3s ease 0.03s;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-sparks-color);
  transition: fill 0.3s ease 0.03s;
}

.like-icon.is-liked .contour {
  fill: var(--heart-sparks-color);
  transition: fill 0.3s ease 0.06s;
}

.like-icon.is-liked .heart {
  fill: var(--heart-sparks-color);
  transform-origin: center;
  animation: scaleHeart 0.3s ease-in 0.1s both;
}

.like-icon.is-liked .sparks {
  animation: sparksAnimation 0.3s ease-in 0.3s both;
}

.like-icon:not(.is-liked) .contour {
  transition-delay: 0s;
}

.sparks {
  opacity: 0;
}